@model ArtFight.Models.Participant
@using ArtFight.Models;
@{
    ViewBag.Title = "Participants";
}
<div id="picture" class="grid-5">
    <img alt="@Model.description" src="@Model.picture_url" />
    <blockquote>
        <p>@Model.description</p>
        <p class="author">
            <cite>&mdash; @Model.username</cite></p>
    </blockquote>
</div>
<input type="hidden" id="competition_id" value="@Model.competition_id" />
<input type="hidden" id="participant_id" value="@Model.id" />
<div class="grid-7">
    <p>
        Rating: <span id="likes">@Model.likes</span> &nbsp;&nbsp;&nbsp;
        <button id="like" class="@ViewBag.disabled">I like it</button>
    </p>
    <div id="comments">
        <form id="write-comment" action="" method="get">
        <fieldset>
            <legend>Написать комментарий</legend>
            <textarea cols="30" rows="3" class="form-grid-7" id="comment_text"></textarea>
            <button class="button-special" type="submit" id="add_comment" >
                Написать</button>
        </fieldset>
        </form>
        <ol class="listreset comments">
            @foreach (var comment in @ViewBag.comments)
            {
                <li>
                    <ul class="listreset meta">
                        <li>@comment.client().fullname()</li>
                        <li>posted on @comment.created_at</li>
                    </ul>
                    <div class="body">
                        <p>
                            @comment.text
                        </p>
                    </div>
                    <hr />
                </li>    
            }
        </ol>
    </div>
</div>
